.page {
  height: 100vh;
  background: var(--bg-dark);
}

.main {
  padding: 16px;
  background: var(--bg-dark);
}

.buttons {
  display: flex;
  padding-bottom: 16px;
}

.buttons > * {
  margin-right: 4px;
}
