.buttonRow {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.buttonRow > * {
  margin-right: 8px;
}

.log {
  white-space: pre;
  font-size: 14px;
  color: var(--text-log);
}
