:root {
  --text-light: #e8e8e8;
  --text-log: #989898;
  --text-active: #fff840;
  --text-link: #40d8e8;
  --bg-dark: #383838;
  --bg-mid: #606060;
  --bg-overlay: #ffffff30;
  --disabled-bg: #707070;
  --disabled-fg: #909090;
  --border: #a0a0a0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-light);
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

button {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 2px;
  background: var(--bg-mid);
}

button:disabled {
  border-color: var(--disabled-fg);
  color: var(--disabled-fg);
  background: var(--disabled-bg);
}

input[type=number] {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 2px;
  background: var(--bg-mid);
}

input[type=number]:disabled {
  border-color: var(--disabled-fg);
  color: var(--disabled-fg);
  background: var(--disabled-bg);
}

.active {
  color: var(--text-active);
}
