:root {
  --text-light: #e8e8e8;
  --bg-dark: #383838;
  --bg-mid: #606060;
  --border: #a0a0a0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}
