:root {
  --text-light: #e8e8e8;
  --text-active: #fff840;
  --bg-dark: #383838;
  --bg-mid: #606060;
  --border: #a0a0a0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-light);
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

button {
  padding: 4px 8px;
  border: 1px solid var(--border);
  border-radius: 2px;
  background: var(--bg-mid);
}

.active {
  color: var(--text-active);
}
